.category-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    animation: fadeIn 0.8s forwards;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category-page-title {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-golden);
        font-family: var(--font-base);
        font-size: 6rem;
        text-transform: uppercase;
        cursor: default;
    }
}