.home-row {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    background-color: var(--web-wash);
    animation: fadeIn 0.6s forwards;
}

.home-info {
    flex: 1;

    .home-header-title {
        font-family: var(--font-base);
        color: var(--color-golden);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        line-height: 10rem;
        font-size: 6rem;
    }

    .home-header-details {
        color: var(--color-white);
        margin-bottom: 16px;
    }
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 450px;
    height: 450px;

    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        transition: transform 1s ease;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.category-container {
    padding: 40px;

    .category-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .category-title {
            font-size: 4rem;
            text-align: center;
            margin-bottom: 12px;
        }
    
        .category-dash {
            width: 160px;
            height: 2px;
            background: var(--color-black);
            margin-bottom: 24px;
        }
    }
}

// Responsive
@media screen and (max-width: 1150px){
    .home-image {
        margin: 32px auto 0 auto;
    }
}

@media screen and (max-width: 650px) {
    .home-info {

        .home-header-title {
            line-height: 4.2rem;
            font-size: 4rem;
            margin-bottom: 20px;
        }
    
        .home-header-details {
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .home-info {

        .home-header-title {
            line-height: 3.6rem;
            font-size: 3.6rem;
            margin-bottom: 20px;
        }
    
        .home-header-details {
            font-size: 1.4rem;
        }
    }
}